.overlay {
    background-color: var(--theme-shadow);

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.dialog {
    box-shadow: 0 2px 5px 2px var(--theme-shadow);

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 5px;
    width: auto;
}
