.item {
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.raster {
    box-sizing: content-box;
    border: 1px solid black;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.itemName {

}

.item button {
    width: 100%;
}